body {
  margin-top: 0px;
  background: linear-gradient(109.6deg, rgb(72, 200, 160) 11.2%, rgb(32, 40, 48) 91.3%);
}
 .navbar {
     display: flex;
     border: solid black 2px; 
     margin-top: 20px;
     height: 50px;
     border-radius: 19px;
     border-width: ;
     
 }
nav {
  position: absolute;
  margin-top: 50;
}
nav ul {
  list-style: none;
  margin-left: 700px;
  
}
nav ul li {
  display: inline-block;
  padding: 10px 10px;
  font-style:bold;


  }

p{
  margin-top: 60px;
  margin-bottom: 50px;
}
.navbar .logo {
  margin-top: 6px;
  font-size: 25px;
  margin-left: 30px;

  }

a {
  text-decoration: none;
  color: black;
}
.column {
  float: left;
  width: 200%;
  gap: 60px;
  
  
}
.row {
  margin-left: 0px;

}
p {
  font-size: 20px;
  
}
img
.logo {
  color: aquamarine;
  height: 50px;
}
.About{
  margin-top: px;
}
.footer {
  background-color: red;
}
.lo 
   {
    font-family: 'Oswald', sans-serif;
   }
  
